<menu class="musician_menu">
    <ul>
      <li><a href="<%= new_band_path %>"><button>Create a new band</button></a></li>
      <li><a href="<%= new_band_path %>"><button>Add instruments</button></a></li>
      <li><a href="<%= new_band_path %>"><button>Add a picture</button></a></li>
    </ul>
</menu>