<h1 class="title inline">All Musicians</h1>
<div class="inline">
  <form action="/search/musicians" method="POST" class="search_template right">
    <input name="search" type="text" id="search" value="Search musicians..." class="inline" /> <input class="button inline" type="submit" value="Search" />
  </form>
</div>
<article class="basic_display">
  <ul>
    <% @musicians.each do |musician| %>
      <li><a href="/musicians/<%= musician.id %>"><%= musician.username %></a></li>
    <% end %>
</ul>
</article>