<section class="basic_display" id="signup">
  <h1>Sign up...</h1>
  <%= render partial: 'signup' %>
</section>
<div id="or">or</div>
<section class="basic_display" id="signin">
  <h1>...sign in!</h1>
  <%= render partial: 'signin' %>
</section>