Instruments played by <%= @musician.username %>:
<ul>
  <% display_instruments_list.each do |instr| %>
    <li><%= instr.name %></li>
  <% end %>
</ul>

<a href="<%= new_band_path %>"><button>Create a new band!</button></a>