<h1 class="title">All Concerts</h1>
<article class="basic_display">
  <div class="inline right">
    <form action="/search" method="POST" class="search_template right">
      <input name="search" type="text" id="search" value="Search by place..." class="inline" /> <input class="button inline" type="submit" value="Search" />
    </form>
  </div>

</article>