<section class="band_info">
  <input id="band_id" type="hidden" value="<%= @band.id %>" />
  <p>Band name: <span id="band_name"><%= @band.name %></span></p>
  <p>List of members:</p>
  <ul id="member_list">
    <% @band.members.each do |member| %>
      <li><%= member.username %></li>
    <% end %>
  </ul>
</section>
<button id="add_member">Add new member!</button>

<div id="all_musicians">
  <ul></ul>
</div>


@vehicles = Vehicle.where(client_id: current_user.client_id).joins(:category, :vehicle_status).includes(:venue) 