$navBarWidth: 10rem;
$corpColor: #2a691e;
$titleFont: "Economica";
$allDocFonts: "Roboto", "Helvetica";
$inputFont: "Shadows Into Light";
$corpFontSize: 1rem;
$profilePictWidth: 15rem;
$pictureRatio: 1.2;
$contrastColor: #cacc7a;

.basic_display {
  font-size: 1.4rem;
  padding: 2rem;
  padding-left: 3rem;
  position: relative;
  width: 100%;
  background: #76bb73;
  margin: 1rem 0 0 2rem;
  border-radius: 10px;
  line-height: 1.7rem;
  text-align: justify;
  h1 {
    position: absolute;
    top: -3rem;
    font-size: 2.5rem;
    padding-left: 1rem;
    line-height: 4rem;
  }
  .more_line_space {
    padding-bottom: 0.5rem;
  }
}

.title {
  font-family: $titleFont;
  padding: 1rem;
  font-size: 4rem;
  color: black;
}