@import 'variables';

.avoid_picture {
  @extend .title;
  padding-right: $profilePictWidth;
}

.centered {
  text-align: center;
}

.inline {
  display: inline-block;
  width: 45%;
  height: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.vertical_top {
  vertical-align: top;
}

.reset_width {
  width: initial;
  margin: 0 1rem;
}

.pic_padding {
  padding-right: $profilePictWidth + 1rem;
}