@import 'variables';

article {
  padding: 0 $navBarWidth;
}

.app_feedback {
  display: none;
}

.comment {
  font-size: 0.8rem;
  font-style: italic;
}

button {
  width: auto;
  padding: 0 1rem;
  height: 2.5rem;
  border-radius: 10px;
}

.ask_for_input {
  display: none;
  width: 15rem;
  height: 15rem;
  background: #5a9a4e;
}