@import 'variables';

html {
  font-family: $corpFonts;
  font-size: $corpFontSize;
}

article {
  padding: 0 $navBarWidth;
}

input {
  text-align: center;
}

.title {
  padding: 1rem;
  font-size: 4rem;
  color: black;
}

.comment {
  font-size: $corpFontSize * 0.8;
  font-style: italic;
}

input {
  margin: 0.2rem 0;
  font-size: $corpFontSize;
  border-radius: 5px;
  background: #b8cbc7;
  border-style: none;
  height: 1.6rem;
}

.button, button {
  width: auto;
  padding: 0 0.8rem;
  height: 2.5rem;
  border-radius: 10px;
  background: #52b741;
  border: 1px solid #409132;
}

.button:hover, button:hover{
  background: #96d6a8;
}

.greyed {
  display: none;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
}

.welcome {
  // vertical-align: middle;
  float: right;
}

.content {
  top: 0; bottom: 0;
  background: #38b53b;
  opacity: 1;
  margin: auto;
  width: 30%;
  height: 60%;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}