@import 'variables';

.navbar {
  position: fixed;
  background: $corporateColor;
  width: $navBarWidth;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  li {
    line-height: 2.5rem;
    font-size: 1.5rem;
    background: rgba(29,76,21,1);
    border-radius: 10px;
    margin: 0.5rem;
    z-index: 1;
    color: #ffffff;
  }

  li:hover {
    margin: 0.5rem 0.3rem;
    font-size: 1.8rem;
  }

  img {
    position: absolute;
    width: $navBarWidth + 0.2rem;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    pointer-events: none;
  }
}