@import 'variables';

.profile_info {
  
  @extend .basic_display;
  
  p {
    margin-bottom: 0.5rem;
  }

  li {
    padding-left: 2rem;
  }

  .relevant {
    font-size: 1.2rem;
  }
}

.musician_menu {
  position: absolute;
  top: $profilePictWidth * $pictureRatio * 0.7;
  right: -3rem;
  text-align: right;
}

.profile_picture {
  position: absolute;
  width: $profilePictWidth;
  height: $profilePictWidth * $pictureRatio;
  background: black;
  border-radius: 20px;
  top: -1 * $profilePictWidth * $pictureRatio * 0.3;
  right: 2rem;
}