@import 'variables';

.profile_info {
  padding: 2rem;
  padding-left: 3rem;
  position: relative;
  width: 100%;
  background: #76bb73;
  margin: 8rem 0 0 2rem;
  border-radius: 10px;
  line-height: 1.4rem;
  
  p {
    margin-bottom: 0.5rem;
  }

  li {
    padding-left: 2rem;
  }

  .relevant {
    font-size: 1.2rem;
  }

  .more_relevant {
    font-size: 2rem;
    padding-left: 1rem;
  }

}

.musician_menu {
  position: absolute;
  top: $profilePictWidth * $pictureRatio * 0.6;
  right: -3rem;
  text-align: right;
}

.profile_picture {
  position: absolute;
  width: $profilePictWidth;
  height: $profilePictWidth * $pictureRatio;
  background: black;
  border-radius: 20px;
  top: -1 * $profilePictWidth * $pictureRatio * 0.4;
  right: 2rem;
}