@import 'variables';

#search {
  height: 2.5rem;
  font-size: 2rem;
  width: 25rem;
  color: rgba(38,87,29,0.2);
  border-radius: 20px;
}
#search:focus {
  color: rgb(38,87,29);
}
.search_template {
  position: relative;

  .button {
    vertical-align: bottom;
  }
}

.column {
  vertical-align: top;
  width: 45%;
}