@import 'variables';

#search {
  height: 2.5rem;
  font-size: 1.3rem;
  width: 22rem;
  color: rgba(38,87,29,0.2);
  border-radius: 20px;
}
#search:focus {
  color: rgb(38,87,29);
}
.search_template {
  position: relative;

  .button {
    vertical-align: bottom;
  }
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}