<h1 class="title">Search Results for <em>"<%= @query %>"</em></h1>
<section class="inline profile_info">
  <span class="relevant">Results for musicians</span>
  <ul>
    <% @musicians.each do |musician| %>
      <li><%= "#{musician.first_name} #{musician.last_name}" %> <span class="comment">(<%= musician.aliases %>)</span></li>
    <% end %>
  </ul>
</section>