<article>
  <section class="column">
    <span class="relevant">Results for bands</span>
    <ul>
      <% @musicians.each do |musician| %>
        <li><%= "#{musician.first_name} #{musician.last_name}" %> <span class="comment">(<%= musician.username %>)</span></li>
      <% end %>
    </ul>
  </section>
  <section class="column">
    <span class="relevant">Results for musicians</span>
    <ul>
      <% @bands.each do |band| %>
        <li><%= band.name %> <span class="comment">(<%= band.year %>)</span></li>
      <% end %>
    </ul>
  </section>
</article>