<h1 class="title">Welcome to Who's That Bass Player?</h1>
<div class="basic_display welcome">
  <div class="inline">
    <p>Here you can find information on those musicians you like so much.</p>
    <p>Find out if they play in other bands or projects and discover new music every day!</p>
  </div>
  <div class="inline">
    <input type="text" id="search" value="Type to search..." name="search" />
  </div>
</div>