<h1 class="title">Welcome to Who's That Bass Player?</h1>
<div class="basic_display">
  <div class="">
    <div class="right">
    <form action="/search" method="POST" class="search_template welcome_search">
      <input name="search" type="text" id="search" value="Type to search..." autofocus="true" /> <input class="button" type="submit" value="Search" />
    </form>
  </div>
  <p class="more_line_space">Musicians nowadays often play in more than one band, most of them in more than three. Who's That BassPlayer is a network for musicians to share their bands and their concerts agenda so when a user hears a certain musician in a concert can go there and see its profile and know if it plays in other projects or where and when to listen to him/her again. It can be used to search concerts as well and keep an agenda of a single musician across all bands/projects. The BassPlayer is a metaphoric figure in the musicians world, the guy who's in the back, in more than 10 projects at a time and never beeing noticed.</p>
    <p class="more_line_space">Here you can find information on those musicians you like so much.</p>
    <p class="more_line_space">Find out if they play in other bands or projects and discover new music every day!</p>
  </div>

</div>