<article class="basic_display welcome">
  <h1>Welcome to Who's That Bass Player?</h1>
  <p>Here you can find information on those musicians you like so much.</p>
  <p>Find out if they play in other bands or projects and discover new music every day!</p>
</article>